<table class="table table-borderer table-hover">
    <thread>    
        <tr>
            <td>Nome</rd>
            <td>Descrição</rd>
            <td>Departamento</rd>
            <td>Preço</rd>
            <td>Quantidade</rd>
            <td colspan = 2></td>
        </tr>    
    </thread>
    <tbody>
        <%= render @produtos %>
    </tbody>
</table>